:root {
  --color_1: #00b0b2;
  --color_2: #160f19;
  --color_3: #282828;
  --color_4: #333;
  --color_5: #38ad38;
  --color_6: #404040;
  --color_7: #418cab;
  --color_8: #444122;
  --color_9: #484848;
  --color_10: #4e4e4e;
  --color_11: #55ff84;
  --color_12: #565656;
  --color_13: #666;
  --color_14: #6eca98;
  --color_15: #7059e0;
  --color_16: #777;
  --color_17: #79e6d9;
  --color_18: #7b7b7b;
  --color_19: #8383ff;
  --color_20: #a158ab;
  --color_21: #a4a4e4;
  --color_22: #b39519;
  --color_23: #b98e01;
  --color_24: #bd3874;
  --color_25: #ce5c48;
  --color_26: #dadada;
  --color_27: #f3929f;
  --color_28: #fddd88;
  --color_29: #ff5d5d;

  --Ã: url("https://glitch.com/edit/images/background-dark/icons/Ã—.svg");
  --ask_for_help_face: url("https://glitch.com/edit/images/background-dark/icons/ask-for-help-face.svg");
  --ask_for_help_hand: url("https://glitch.com/edit/images/background-dark/icons/ask-for-help-hand.svg");
  --ask_for_help: url("https://glitch.com/edit/images/background-dark/icons/ask-for-help.svg");
  --branches_diagram: url("https://glitch.com/edit/images/background-dark/icons/branches-diagram.svg");
  --collapse: url("https://glitch.com/edit/images/background-dark/icons/collapse.svg");
  --down_arrow: url("https://glitch.com/edit/images/background-dark/icons/down-arrow.svg");
  --eye: url("https://glitch.com/edit/images/background-dark/icons/eye.svg");
  --heart_empty: url("https://glitch.com/edit/images/background-dark/icons/heart-empty.svg");
  --heart_filled: url("https://glitch.com/edit/images/background-dark/icons/heart-filled.svg");
  --left_arrow: url("https://glitch.com/edit/images/background-dark/icons/left-arrow.svg");
  --options: url("https://glitch.com/edit/images/background-dark/icons/options.svg");
  --private: url("https://glitch.com/edit/images/background-dark/icons/private.svg");
  --remix: url("https://glitch.com/edit/images/background-dark/icons/remix.svg");
  --search: url("https://glitch.com/edit/images/background-dark/icons/search.svg");
  --show_app: url("https://glitch.com/edit/images/background-dark/icons/show-app.svg");
  --show_branches: url("https://glitch.com/edit/images/background-dark/icons/show-branches.svg");
  --up_arrow: url("https://glitch.com/edit/images/background-dark/icons/up-arrow.svg");
  --asking_for_help: url("https://glitch.com/edit/images/background-dark/sidebar-file-icons/asking-for-help.svg");
  --assets_active: url("https://glitch.com/edit/images/background-dark/sidebar-file-icons/assets-active.svg");
  --assets: url("https://glitch.com/edit/images/background-dark/sidebar-file-icons/assets.svg");
  --secrets_active: url("https://glitch.com/edit/images/background-dark/sidebar-file-icons/secrets-active.svg");
  --secrets: url("https://glitch.com/edit/images/background-dark/sidebar-file-icons/secrets.svg");
  --fold_widget: url("https://glitch.com/edit/images/editor/fold-widget-dark.svg");
  --fold_widget_folded: url("https://glitch.com/edit/images/editor/fold-widget-folded-dark.svg");
  --github_logo: url("https://glitch.com/edit/images/emojis/github-logo-dark.svg");
  --project_loader_background: url("https://glitch.com/edit/images/illustrations/project-loader-background-dark.svg");




  background-color: #00b0b2;
  background-color: #160f19;
  background-color: #282828 !important;
  background-color: #282828;
  background-color: #333;
  background-color: #38ad38;
  background-color: #404040;
  background-color: #418cab;
  background-color: #444122;
  background-color: #484848;
  background-color: #4e4e4e;
  background-color: #55ff84;
  background-color: #7059e0;
  background-color: #777;
  background-color: #7b7b7b;
  background-color: #8383ff;
  background-color: #a158ab;
  background-color: #b39519;
  background-color: #b98e01;
  background-color: #bd3874;
  background-color: #ce5c48;
  background-color: #f3929f;
  background-color: #ff5d5d;
  background-color: rgba(0,0,0,0.8);
  background-color: rgba(0,176,178,0.2);
  background-color: rgba(112,89,224,0.2);
  background-color: rgba(114,192,194,0.5);
  background-color: rgba(161,88,171,0.2);
  background-color: rgba(179,149,25,0.2);
  background-color: rgba(189,56,116,0.2);
  background-color: rgba(206,92,72,0.2);
  background-color: rgba(255,255,255,0.07);
  background-color: rgba(255,255,255,0.1);
  background-color: rgba(77,151,255,0.33);
  background-image: url("../images/background-dark/icons/Ã—.svg");
  background-image: url("../images/background-dark/icons/ask-for-help-face.svg");
  background-image: url("../images/background-dark/icons/ask-for-help-hand.svg");
  background-image: url("../images/background-dark/icons/ask-for-help.svg");
  background-image: url("../images/background-dark/icons/branches-diagram.svg");
  background-image: url("../images/background-dark/icons/collapse.svg");
  background-image: url("../images/background-dark/icons/down-arrow.svg");
  background-image: url("../images/background-dark/icons/eye.svg");
  background-image: url("../images/background-dark/icons/heart-empty.svg");
  background-image: url("../images/background-dark/icons/heart-filled.svg");
  background-image: url("../images/background-dark/icons/left-arrow.svg");
  background-image: url("../images/background-dark/icons/options.svg");
  background-image: url("../images/background-dark/icons/private.svg");
  background-image: url("../images/background-dark/icons/remix.svg");
  background-image: url("../images/background-dark/icons/search.svg");
  background-image: url("../images/background-dark/icons/show-app.svg");
  background-image: url("../images/background-dark/icons/show-branches.svg");
  background-image: url("../images/background-dark/icons/up-arrow.svg");
  background-image: url("../images/background-dark/sidebar-file-icons/asking-for-help.svg");
  background-image: url("../images/background-dark/sidebar-file-icons/assets-active.svg");
  background-image: url("../images/background-dark/sidebar-file-icons/assets.svg");
  background-image: url("../images/background-dark/sidebar-file-icons/secrets-active.svg");
  background-image: url("../images/background-dark/sidebar-file-icons/secrets.svg");
  background-image: url("../images/editor/fold-widget-dark.svg");
  background-image: url("../images/editor/fold-widget-folded-dark.svg");
  background-image: url("../images/emojis/github-logo-dark.svg");
  background-image: url("../images/illustrations/project-loader-background-dark.svg");
  background: #8383ff;
  background: rgba(255,255,255,0.85);
  border-bottom-color: rgba(255,255,255,0.85);
  border-bottom: 1px #404040 solid;
  border-bottom: 1px solid #404040;
  border-bottom: 1px solid #484848;
  border-color: #160f19;
  border-color: #484848;
  border-color: #666;
  border-color: #7b7b7b;
  border-color: #dadada;
  border-left: 1px #404040 solid;
  border-left: 1px solid #404040;
  border-left: 2px solid #dadada;
  border-left: solid 1px #404040;
  border-top-color: #8383ff;
  border-top-color: #ff5d5d;
  border-top: 1px solid #404040;
  border-top: 1px solid #484848;
  border-top: 1px solid #7b7b7b;
  border: 1px solid #160f19;
  border: 1px solid #404040;
  border: 1px solid #484848;
  -webkit-transition: #160f19;
  border: 1px solid #666;
  border: 2px #dadada solid;
  border: 2px solid #dadada;
  color: #00b0b2;
  color: #160f19;
  color: #418cab;
  color: #55ff84;
  color: #565656;
  color: #6eca98;
  color: #7059e0;
  color: #79e6d9;
  color: #a158ab;
  color: #a4a4e4;
  color: #b39519;
  color: #bd3874;
  color: #ce5c48;
  color: #dadada;
  color: #fddd88;
  color: #ff5d5d;
  transition: #160f19;

}
